body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a, a:hover {
  text-decoration: none;
}

p { font-size: 1.1em; }
.cursos-container div, .qualificacao-container div { width: 100%; margin: 10px 0; }
.cursos-container, .qualificacao-container { width: 380px !important;}
.cursos-container span, .qualificacao-container span { margin-left: 5px; font-size: 1.2em; font-family: "Roboto"}
.description {     display: flex;
  flex-direction: column;
  align-items: center; }
.description p { color: #FFF; }
.description p a { color: black; }
.portfolio-card:hover, .portfolio-card div:hover {     opacity: 0.9; cursor: pointer; }
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}
html,
body {
  margin: 0;
}

#App {
  font-family: sans-serif;

  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: hidden;
}

.bm-menu { overflow: hidden !important; }

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

*:focus {
  outline: none;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #FFF;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #FFF;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(113, 89, 193);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 1050px){
  .cursos-container, .qualificacao-container { width: 100% !important;}
  .cursos-container div, .qualificacao-container div { width: 90%;}
  #aboutme-paragraph { text-align: justify; }
}
